<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
       Juego inicio
    </title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/indexLa.css">
        <link rel="icon" href="/static/ico.png">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>

<body onload="musica()">


<script>

function musica() {
    new Audio("/static/inicio.mp3").play();

}
</script>
<div class="container text-center">
<form action="/juego" method="post">
<br><br>
    <div class ="container text-center">
        <img src="https://i.pinimg.com/originals/64/96/32/649632b6e1d7c4599e999325c3bf85ee.jpg" height="100" alt="La culebrita GORKY ">
        </div>
        <br><br>


       <div class="form-group container">
            <input autocomplete="off" autofocus class="form-control" name= "usuario" placeholder="Nombre del usuario" type="text"/>
        </div>


    <button class= "btn btn-primary " type= "submit"> Incio del juego</button>
   <br>
   <br>



</form>

  <a href="/puntuaciones" class= "btn btn-primary "> Registro</a>

</div>




</body>

</html>